<!-- we are going to take player 1's name. if this is done, set player 2 name.-->

<div>

  <% if !@player1.nil? %>
     Player1 has been registered
  <% else %>
    Player 1, enter your name:
	<form action="/form" method="post">
	  <input type="text" name="player1">
	  <input type="submit">
	</form>
  <% end %>

  <% if @player1 %>
  	Input player 2's name:
  	<form action="/form" method="post">
     <input type="text" name="player2">
     <input type="submit">
    </form>
  <% end %>


</div>