Game ready. 

<% if @warning %>
 Already hit 
<% end %>


<form action="/hit" method="post">
<button type="submit" name="shoot" value="A1" class="btn btn-primary">A1</button>
</form>
<form action="/hit" method="post">
<button type="submit" name="shoot" value="A2" class="btn btn-primary">A2</button>
</form>

